<!-- <p>homePage...</p> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TreeTreat | website Design</title>
        <link rel="stylesheet" href="home.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="background-image">
            <img src="images/tree2.png" alt="Background Image">
        </div>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <img src="images/logo.png" width="250px">
                    </div>
                    <nav>
                        <ul>
                            <li><a href="">About</a></li>
                            <!-- <li> <a href="">Register</a></li> -->
                            <li><a href="registration">Register</a></li>
                            <!-- <li> <a href="">Login</a></li> -->
                            <li><a href="/login">Login</a></li>
                            <li> <a href="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                        <h1> Grow trees , Grow peace!</h1>
                        <p> Enjoy your journey with TreeTreat. <br> Caring a tree is caring of your soul. <br> 
                            So, treat your souls with the purity of trees!
                        </p>
                        <a href="" class="btn">Explore Now &#8594;</a>
                    <!-- <div class="col-2">
                        <img src="images/homepage2.png">
                    </div> -->
                </div>
            </div>
        </div>
 
    </body>
</html>