<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginReg.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Register</title>
   
</head>
<body>
    <div class="background-image">
        <img src="images/tree2.png" alt="Background Image">
    </div>
    <div class="container">
        <h2>Registration</h2>
        <!-- Add your login form fields here (e.g., username and password) -->

        <!-- Login as Buyer Button -->
        <!-- <button class="btn btn-buyer">Login as Buyer</button> -->
        <a href="buyerReg"><button class="btn btn-buyer">Register as Buyer</button></a>
       

        <!-- Login as Seller Button -->
        <!-- <button class="btn btn-seller">Login as Seller</button> -->
        <a href="sellerReg"><button class="btn btn-seller">Register as Seller</button></a>
        <p>If you already have an account, <a href="login">login here</a>.</p>
    </div>
    <!-- <div class="back-button">
        <a href="home.html"> Back</a>
    </div> -->
</body>
</html>
